.donation-background{
    background-image: url("../../../img/donationBackground.jpg");
    background-image: linear-gradient( to right,rgba(255, 255, 255, 0.768) 50%,rgba(255, 255, 255, 0.733)) ,url("../../../img/donationBackground.jpg");
   
}
.left-img{
    width: 50%;
    height: 100%;
    color: rgba(255, 255, 255, 0.811);
}
.donate-btn{
    padding: 5px 30px;
    border-radius: 30px;
    border: 2px solid gray;
    font-size: 18px;
    font-weight: bold;
    transition: 1s;
}
.donate-btn:hover{
    background-color:#0E820E ;
    border: none;
    color: white;
  
}