.top-header{
    background-image: linear-gradient( #189a57ae,#189a57a7) ,url("https://cdn.wallpapersafari.com/84/41/txoalT.jpg");
    width: 100%;
    height: 7vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.right-border{
    border-right: 1px solid rgba(221, 221, 221, 0.653);
    font-size: 14px;
}


.middle-header{
    background-image:url("https://i.ibb.co/0nmMP6H/istockphoto-1336661359-612x612.jpg");
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-font-size{
    font-size: 14px;
}
.pray-time{
    border: 1px solid #009146;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
    color: #009146;
   
}

