.top-header{
    background-image: linear-gradient( #189a57ae,#189a57a7) ,url("https://cdn.wallpapersafari.com/84/41/txoalT.jpg");
    width: 100%;
    height: 6vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.right-border{
    border-right: 1px solid rgba(221, 221, 221, 0.653);
    font-size: 13px;
}


.middle-header{
  

}

.logo-font-size{
    font-size: 14px;
}
.pray-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #009146;
    padding: 15px;
    border-radius: 100%;
  
    color: #009146;
   
}

