.banner-background{


    background: linear-gradient( to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("../../../../img/bannerbackground.jpg");
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-img{
    margin-top: 8%;
}

/* -------------------banner bottom-------------- */

.right-img{
    background: linear-gradient( #022c439d,#022c439d) ,url("../../../../img/bannerBottom.jpg");

    height: auto;
    

}
.banner-contact-btn{
    padding: 20px 40px;
    background-color: aliceblue;
    color: black;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border-radius: 2px;
}

