@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Lato', sans-serif;
}
body h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', serif;
  /* color: rgba(0, 0, 0, 0.856);
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3); */
}
.max-width{
  max-width: 1350px;
}
/* p{
  color: rgba(0, 0, 0, 0.673);
} */