

/* .............. for schollars section style  ................. */

.scholar_img:hover .scholar_info{
    background-color: #0E820E;
    color: antiquewhite;
}


/* .............. for Donation section style  ................. */

.donate-section .mySwiper{
    height: 100% !important;
}

/* .............. for remember section style  ................. */
.remember-background{
    background: linear-gradient( to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://png.pngtree.com/thumb_back/fw800/background/20220127/pngtree-background-islamic-green-image_985124.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}



/* .............. for AboutIslam section style  ................. */

/*Card */
.card {
    width: 272px;
    height: 397px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(35,35,35,0.3);
    transition: box-shadow .3s ease-in-out;
   }
   
   .card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:0 10px;
    margin: auto;
    text-align: center;
    background-color: #0E820E;
    height: 16%;
    padding-top: 15px;
    color: antiquewhite;
   }
   
   /*Image*/
   .card-img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
   }
  
   
   /* Hover */
   .card:hover {
    box-shadow: 1px 2px 10px rgba(35,35,35,0.5);
   }
   
   .card:hover .card-img {
    transform: translateY(-15%);
    background-color: #0E820E;
    overflow-y: hidden;
   }
   